* {
    font-family: 'Nunito', sans-serif;
}

.full-height {
    min-height: 90vh;
}


@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

.navbar-style {
    background-color: #f8f9fa;
    box-shadow: 2px 4px 13px 1px rgba(8, 8, 8, 0, 0.04);
}

#logo {
    display: initial;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 1px;
    color: #2e6a72;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0, 06);
    padding: 0;
}

.landing-carousel {
    height: 60vh;
    margin: 0;
    padding: 0;
}

.landing-carousel-img {
    height: 60vh;  
    object-fit: cover;
}
.carousel {
    height: 60vh;
}
.blockquote h1 {
    font-size: 48px;
}

.sign-in-cards .card {
    border-radius: 12px;
    background: #ffffff;
    box-shadow:  6px 6px 18px #ededed,
                -6px -6px 18px #ffffff;
}

.sign-in-cards .card:hover {
    border-radius: 12px;
    background: #ffffff;
    box-shadow:  13px 13px 26px #e9e9e9,
                 -13px -13px 26px #ffffff;
}

.sign-in {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.sign-in-cards {
	margin-top: 10vh;
	display: flex;
	width: 80%;
}

.admin-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background: rgb(252, 250, 250);
    width: 60%;
    margin-top: 150px;
    border-radius: 15px;
    background: #ffffff;
    box-shadow:  8px 8px 18px #dedede,
                -8px -8px 18px #ffffff;
}



@media only screen and (max-width: 600px) {
.carousel {
	height: 30vh;
}
.landing-carousel {
	height: 30vh;
	margin: 0;
	padding: 0;
}
.landing-carousel-img {
	height: 30vh;  
	object-fit: cover;
}
.blockquote h1 {
	font-size: 32px;
}
.landing-desc {
	font-size: 15px;
}

#logo {
	font-size: 24px;
}
.sign-in-cards {
	margin-top: 20px;
	width: 100%;
	flex-direction: column;
}
.admin-login {
	width: 90%;
}

}